@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{

    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

img{
    width: 45%;
    height: 80%;
    border-radius: 20%;
    object-fit: cover;
    border: #f2f2f2 2px solid;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
    /* background-color: #000000; */
}
.fileinput{
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #c3afe4;
    padding: 20px;
    width: 20rem;
    border-radius: 25px;
    border: 2px dashed #a370f0;
    cursor: pointer;
}

#productImage{

    display: none;
}

.password{
  
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #7b52b9;
}

.password input{

    width: 20rem;
    height: 3rem;
    border-radius: 20px;
    padding-left: 1rem;
    border: none;
    outline: none;
    font-size: 20px;
    color: #dedddd;
    background-color: #7b52b939;
}

.cssbuttons-io-button {
    
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: 2px solid #714da6;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow:  0 0 1.6em -0.6em #a272e2;
    
    overflow: hidden;
    position: relative;
    top: -2rem;
    left: 6.5rem;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: rgb(239, 239, 239);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);

  }

  .cssbuttons-io-button:hover{

    box-shadow: 0px 3px 50px 9px  #7b37da;
    /* box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9; */

  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  
  a{

    text-decoration: none;
}





/* pop up messege */
.popup-containerForError {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 10%;
  left: 49%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: #c517173b;
  border-radius: 30px;
  padding: 20px;
  /* box-shadow: 25px 25px 52px 2px rgba(201,201,201,0.48); */
  opacity: 0;
  animation: popIn 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  z-index: 9999;
}

.popup-containerForError h4 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}
.popup-containerForError i{
  color: #fefefe;
}

@keyframes popIn {
  0% { opacity: 0; transform: translate(-50%, -50%) scale(0.7); }
  70% { opacity: 1; transform: translate(-50%, -50%) scale(1.05); }
  100% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}

@keyframes popOut {
  0% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  100% { opacity: 0; transform: translate(-50%, -50%) scale(0.7); }
}




/* For success */
.popup-containerForSuccess {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 10%;
  left: 49%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: #00ff622c;
  border-radius: 20px;
  padding: 17px;
  /* box-shadow: 25px 25px 52px 2px rgba(201,201,201,0.48); */
  opacity: 0;
  animation: popIn 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  z-index: 9999;
}

.popup-containerForSuccess h4 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #eaeaea;
  font-weight: bolder;
}


.popup-containerForSuccess i{
  color: #10a765;;
}


/* For success */
/* pop up messege */



#toggleIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 3.6rem;
  left: 8rem;
  width: 3rem;
  height: 3rem;
 
}

.shareKey{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  width: 35rem;
  height: 15rem;
  left: 60rem;
  bottom: 20rem;
}


.shareKey h3{

  font-size: 16px;
  color: #ffffff;

}

.shareKey p{

  color: whitesmoke;
  font-size: 6px,
  
}

.generateKey{

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  width: 15rem;
  height: 2rem;
  bottom: 16rem;
  right: 41.5rem;
}

.generateKey a{

  text-decoration: none;
  color: #ffffff;
  font-size: 17px;

}


nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 10rem;
  /* position: absolute; */
}

.backArrow {
  z-index: 2;
  cursor: pointer;
}

.backArrow a{
  color: #ffffff;
  font-size: 22px;
}


.logo{
  color: #ffffff;
  font-size: 22px;
  margin-left: 120px;
}

/* .logo1 h3{
  color: white;
} */

.uplodeList{
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #e0e0e0;
  background-color: #6109872d;
  padding: 1px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 0px  #b300ff94;
  z-index: 2;
}

.uplodeList:hover{
box-shadow: 0px 0px 50px 0px #b300ff;
cursor: pointer;
transition: 0.8s;
}


.uploadedFiles{
  max-width: 15rem;
  position: absolute;
  left: 77.4%;
  top: 0%;
  border-radius: 16px;
  padding: 27px;
  
}

ul{
  border: #a272e238 2px solid;
  border-radius: 10px;
  padding: 8px;
 
}

ul li{
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: #bbbbbb;
  margin-bottom: 10px;
  background-color: #7b52b939;
  border-radius: 8px;
  padding: 5px;
}